@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0B0B0F;
    color: #ffffff;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0B0F;
}
::-webkit-scrollbar-thumb {
  background: #1A1A1E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C1121F;
}